@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.new-year-party {
  background-image: url("/images/Banner Image.png");
  width: 1320px;
  height: 600px;
  margin: 50px auto 0px auto;
}

.new-year-container {
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.new-year-container h4 {
  font-size: 32px;
  color: #ffffff;
  margin: 0px 0px 16px 0px;
}

.new-year-container h3 {
  margin: 0;
  font-size: 95px;
  color: #ffffff;
}

.new-year-overlay {
  background-image: linear-gradient(#000000, #00000000);
  width: 100%;
  height: 100%;
  align-content: center;
  border-radius: 15px;
}

.off-offer {
  margin: 120px auto;
  width: 805px;
  height: 805px;
  text-align: center;
}

.off-offer h2 {
  font-size: 88px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 48px;
}

.off-offer p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #ff0000;
}

.off-offer h3 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 48px;
}


.welcome-section{
    width: 1320px;
    height: 600px;
    background-image: url("/images/Vectorrr.png");
    margin: 0px auto 120px auto;
}

.welcome-section-overlay{
    background-image: linear-gradient(to right, #000000, #00000000);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.welcome-section-container{
    align-content: center;
    height: 100%;
    padding-left: 126px;
    display: flex;
    align-items: center;

}
.welcome-section-container h1{
    font-size: 64px;
    color: #ffffff;
    letter-spacing: 11px;
    line-height: 88px;
    margin-bottom: 24px;
}

.welcome-section-container p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 48px;
    width: 697px;
    color: #ffffff;
    font-weight: 100;
}

.welcome-section-container a{
    color: #ffffff;
    font-weight: bold;
    padding-left: 35px;
    text-decoration: none;
    font-size: 20px;
}

.schedule-info{
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
    margin: 0px auto 120px auto;
    text-align: center;
    align-content: center;
}

.schedule-info h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.schedule-info span{
    color: #ff0000;
}

.schedule-info button{
    background-color: #ff0000;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    margin-top: 48px;
}